<!-- catalog/templates/catalog/home.html -->
{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content_1 %}{% include 'catalog/main_menu.html' %}{% endblock %}

{% block content %}
<div class="row text-center">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">₽ {{ product.purchase_price }}</h1>
                {% if product.description %}
                    <p class="text-start">{{ product.description|truncatechars:100 }}</p>
                {% endif %}
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Товары не найдены.</p>
    {% endfor %}
</div>
{% endblock %}