{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content_1 %}{% include 'catalog/main_menu.html' %}{% endblock %}

{% block content %}
<h2>{{ object.name }}</h2>
<!-- Вывод изображения -->
{% if object.image %}
    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
{% else %}
    <p>Изображение отсутствует</p>
{% endif %}
<p>Цена: {{ object.purchase_price }} </p>
<p>Описание: {{ object.description }}</p>
<p>Категория: {{ object.category.name }} </p>
<p>Описание категории: {{ object.category.description }}</p>
<p>Дата создания: {{ object.created_at|date:'d M Y' }}</p>
<p>Последнее изменение: {{ object.updated_at|date:'d M Y' }}</p>
{% if user == object.owner %}
    <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-secondary">Редактировать</a>
{% endif %}

{% if perms.catalog.can_unpublish_product and object.is_published %}
    <a href="{% url 'catalog:product_unpublish' object.pk %}" class="btn btn-warning">Снять с публикации</a>
{% endif %}

{% if user == object.owner or perms.catalog.delete_product %}
    <a href="{% url 'catalog:product_delete' object.pk %}"
       class="btn btn-danger"
       onclick="return confirm('Удалить?')">
        Удалить
    </a>
{% endif %}

<a href="{% url 'catalog:product_list' %}" class="btn btn-primary">Вернуться к списку</a>

{% endblock %}